<!DOCTYPE html>
<html>
  <head>
    <title>Reddit</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

   
  </head>

  <body>
    <div>
    <%if flash[:errors]%>
      <%= flash[:errors].join(",") %>
      <%end%> </div>
    <%= yield %>
  </body>
</html>
